# Directories
/.wordpress-org export-ignore
/.github export-ignore
/src export-ignore
/blocks export-ignore
/node_modules export-ignore
/.idea export-ignore
/.idea export-ignore
/.vs-code export-ignore
/.docker export-ignore
/.dev export-ignore
/.vscode export-ignore

# Files
.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore
.eslintrc.json export-ignore
.jshintrc export-ignore
.prettierrc export-ignore
yarn.lock export-ignore
bun.lockb export-ignore
package.json export-ignore
package-lock.json export-ignore
Gruntfile.js export-ignore
readme.md export-ignore
tailwind.config.js export-ignore
postcss.config.js export-ignore
babel.config.js export-ignore
docker-compose.yml export-ignore
composer.lock export-ignore
phpcs.xml export-ignore
build.txt export-ignore
