.ua-accordion {
    font-size: 1rem;
    overflow: hidden;
    .ua-accordion-header {
        padding: 10px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            position: relative;
            z-index: 5;
        }
        .ua-accordion-icon {
            float: right;
            padding-right: 10px;
        }
    }
    .ua-accordion-body__contents {
        padding: 10px;
        color: #3b566e;
        display: none;
    }
}