.ua-testimonial-carousel {
    overflow: hidden;
}


/** Testimonials **/

.ua-testimonial-c {
    background: #f7fafd;
    padding: 4em 0;
    position: relative;
    .owl-item .center .t_txt {
        background: linear-gradient(to right, #f30d55 0%, #5820e5 100%);
    }
    .center .t_item {
        opacity: 1;
    }
    .center .t_txt,
    .t_item:hover .t_txt {
        background: linear-gradient(to right, #f30d55 0%, #5820e5 100%);
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .4);
    }
    .center .t_txt::after {
        border-top: 30px solid #5820e5;
    }
    .t_item:hover .t_txt::after {
        border-top: 30px solid #5820e5;
        ;
    }
    .t_item {
        padding: 0 15px;
        opacity: 0.4;
        transition: all ease 0.5s;
        &:hover {
            opacity: 1;
        }
        .t_txt {
            color: #fff;
            position: relative;
            padding: 34px 45px;
            font-size: 14px;
            line-height: 26px;
            border-radius: 5px;
            letter-spacing: 1px;
            margin-bottom: 50px;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: -30px;
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                width: 30px;
                margin: 0 auto;
            }
        }
        .client_info {
            .c_img {
                img {
                    margin: 0 auto;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.5);
                    object-fit: cover;
                }
            }
            .c_o_info {
                h2 {
                    color: #3b566e;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin: 0.5em 0;
                }
                h3 {
                    color: #3b566e;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin: 0 0 1em 0;
                }
            }
        }
    }
}


/** Owl Carousel **/

.owl-dots {
    display: block !important;
    margin-top: 1.5em !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #f30d55;
    width: 40px !important;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #5820e5;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

// .t_item:hover .t_txt::after {
//     border-top: 30px solid #5820e5;
// }
.owl-nav {
    display: block !important;
    button {
        position: absolute;
        top: 50%;
        padding: 5px 5px !important;
        background: #f30d55;
        color: #fff !important;
        margin: 0;
        transition: all 0.3s ease-in-out;
        border-radius: 50% !important;
        &:hover {
            background: #5820e5;
        }
        i {
            font-size: 50px;
        }
        &:focus {
            outline: none;
        }
    }
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}