.ua-dashboard-form {
    padding-top: 10px;
    position: relative;
}


/** Tabs **/

.ua-db-tabs {
    ul {
        width: 100%;
        height: auto;
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
            display: inline-block;
            margin-bottom: 0px;
            a {
                background: #f8fafb;
                color: #252525;
                padding: 19px 22px;
                font-size: 15px;
                font-weight: 600;
                display: block;
                border-radius: 5px 5px 0 0;
                text-decoration: none;
                margin-right: 7px;
            }
        }
    }
}

.tabs__is-active a {
    background: #fff !important;
}

.ua-tabs__content {
    background: #fff;
    padding: 15px 25px;
}


/** Widgets **/

.ua-widgets-list {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -40px;
    .ua-w__item {
        position: relative;
        display: flex;
        align-items: center;
        width: calc( 25% - 57px);
        background: #f8fafb;
        border: 1px solid #e8e8e8;
        margin-bottom: 20px;
        margin-right: 15px;
        border-radius: 5px;
        padding: 20px;
        @media screen and (max-width: 782px) {
            width: 100%;
        }
    }
    .ua-w-i__icon {
        display: inline-block;
        width: 30px;
        i {
            font-size: 20px;
        }
    }
    .ua-w-i__name {
        display: inline-block;
        font-size: 13px;
        color: #444;
        font-weight: 400;
        a {
            i {
                font-size: 14px;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }
    .ua-w-i__toggle {
        position: absolute;
        right: 5px;
        top: 35px;
    }
}

.ua-w-s__btn {
    position: absolute;
    right: 10px;
    top: 10px;
    input[type='submit'] {
        padding: 10px;
        background: linear-gradient(to right, #f30d55 0%, #5820e5 100%);
        color: #fff;
        font-size: 14px;
        width: 150px;
        border-radius: 5px;
        border: none;
        font-weight: 500;
        @media screen and (max-width: 782px) {
            width: 120px;
        }
        &:hover {
            background: linear-gradient(to right, #f30d55 0%, #5820e5 100%);
            opacity: 0.8;
            color: #fff;
        }
    }
}

.ua-w-i__toggle {
    input[type="checkbox"].ua-toggle {
        font-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 45px;
        height: 24px;
        background: #ddd;
        border-radius: 3em;
        position: relative;
        cursor: pointer;
        outline: none;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        border: none;
    }
    input[type="checkbox"].ua-toggle:checked {
        background: linear-gradient(to right, #f30d55 0%, #5820e5 100%);
    }
    input[type="checkbox"].ua-toggle:checked::before {
        content: '' !important;
    }
    input[type="checkbox"].ua-toggle:after {
        position: absolute;
        content: "";
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        background: #fff;
        -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
        box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
        -webkit-transform: scale(.7);
        transform: scale(.7);
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    input[type="checkbox"].ua-toggle:checked:after {
        left: calc(100% - 1.5em);
    }
}